body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: black;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29 35 27);
}

html {
  cursor: url("../src/cursor/Anathema White Normal Select.cur"), auto;
}

ul {
  list-style: none;
}

li {
}

:root {
  --main-text: #ffffffd2;
}

a {
  text-decoration: none;
}

.background {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(#000000, #1f2323 50%);
  background-size: 100vw 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.416);
  width: 80%;
  height: 28.125rem;
  margin: auto;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.3125rem 1.25rem 0.0625rem rgb(28, 37, 38);
}
/* 
.wrapper:hover {
  box-shadow: 0rem 0.3125rem 1.25rem 0.0625rem rgb(75, 103, 106);
} */

.wrapper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
}

.header-container {
  width: 100%;
  height: 64px;
  padding-top: 1.25rem;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-container-logo-h1 {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: var(--main-text);
  font-size: 2.125rem;
}

.nav-container-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.625rem;
}

.nav-container-ul-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-group {
  padding: 0.75rem;
  color: var(--main-text);
  background-color: #206a6f;
  border-radius: 0.3125rem;
  cursor: url("../src/cursor/Anathema White Link Select.cur"), auto;
}

.nav-group:hover {
  background-color: #2d8b91;
}

.main-container {
  width: 100%;
  height: 100%;
  overscroll-behavior-y: auto;
}

.main-container-text {
  margin-top: 1.5625rem;
}

.main-container-text h2 {
  font-size: 1.75rem;
  text-align: center;
  color: var(--main-text);
}

.main-container-text-content p {
  text-align: center;
  color: var(--main-text);
  font-size: 1.25rem;
  margin: 0;
}

.main-container-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.8125rem;
}

.btn-readMore {
  width: 9.375rem;
  height: 3.125rem;
  border: none;
  border-radius: 0.3125rem;
  color: var(--main-text);
  background-color: #206a6f;
  cursor: url("../src/cursor/Anathema White Link Select.cur"), auto;
  font-size: 1.25rem;
  transition: background-color 1s ease;
}

.btn-readMore:hover {
  background-color: #2d8b91;
  box-shadow: 0rem 0.3125rem 1.25rem 0.0625rem rgb(75, 103, 106);
  color: rgb(255, 255, 255);
}

img {
  width: 3.125rem;
  height: 100%;
  background-size: cover;
}

/* Sign Up */

.sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
  position: absolute;
  width: 80%;
  border-radius: 10px;
}

/* .sign-up:hover{
  box-shadow: 0rem 0.3125rem 1.25rem 0.0625rem rgb(75, 103, 106);
} */

.container-sign-up-div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-sign-up h3 {
  padding-bottom: 0px;
}

.sign-up-h3 {
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
}

.sign-up-label-group {
  position: relative;
  top: 12px;
  color: white;
}

.sign-up-input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 40px;
  border: none;
  background-color: #01010100;
  border-bottom: 1px solid rgba(239, 238, 238, 0.566);
  color: var(--main-text);
  outline: none;
}

.sign-up-input-group:focus{
  border-bottom: 1px solid rgb(255, 255, 255) ;
}

input {
  margin: 10px 0px;
}

.sign-up-btnCreate{
  color: var(--main-text);
  font-size: 18px;
  width: 260px;
  height: 50px;
  background-color:#00000071;
  border: none;
  border-radius: 5px;
  cursor: url("../src/cursor/Anathema White Link Select.cur"), auto;
}

button[type="submit"]{
  margin-top: 15px;
}



/* btnClose */

.sign-up-btn-close{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 40px;
  height: 30px;
  border: none;
  background-color:#206a6f;
  color: rgb(243, 243, 243);
  cursor: url("../src/cursor/Anathema White Link Select.cur"), auto;
}

.sign-up-btn-close:hover{
  background-color: #2d8b91;
}




@media screen and (max-width: 47.1875rem) {
  .wrapper {
    padding: 1.25rem;
    overflow: auto;
  }

  .main-container-text-content {
    gap: 2.5rem;
  }

  .nav-container-ul-group {
    gap: 20px;
  }
  .nav-group {
    padding: 0.75rem;
    color: var(--main-text);
    background-color: #206a6f;
    border-radius: 0.3125rem;
  }
  .nav-container-logo-h1 {
    display: none;
  }

  .sign-up-btn-close{
    right: -20px;
    top: -15px;
    width: 20px;
    height: 20px;
  }

}